PORT=8080

REDIS_URL=redis://localhost:6379
NATS_URL=nats://localhost:4222

NATS_STREAM=IMAGES
NATS_SUBJECT=images.process
NATS_CONSUMER=worker
NATS_MAX_RETRY=3

STORAGE_TYPE=local
STORAGE_LOCAL_PATH=/tmp/cluster-imager

JOB_TTL=24h
